opentelemetry-api >= 1.44.0, < 2
opentelemetry-sdk >= 1.44.0, < 2
opentelemetry-semantic-conventions >= 0.65b0, < 1
opentelemetry-test-utils >= 0.65b0, < 1
opentelemetry-instrumentation >= 0.65b0, < 1
opentelemetry-distro >= 0.65b0, < 1
opentelemetry-exporter-otlp-proto-grpc >= 1.44.0, < 2
opentelemetry-conformance @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@ff465c38411195cd2502b4bd0899771ea3c9ac4e#subdirectory=tools/runner
opentelemetry-genai-mock-server @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@ff465c38411195cd2502b4bd0899771ea3c9ac4e#subdirectory=tools/gen-ai/mock-server
genai-conformance @ git+https://github.com/open-telemetry/semantic-conventions-conformance.git@ff465c38411195cd2502b4bd0899771ea3c9ac4e#subdirectory=tools/gen-ai/runner
